body {
    background-image: url('https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 300px;
    margin: 40px auto;
    backdrop-filter: blur(2px);
    padding: 40px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  
  .login-form {
    width: 90%;
    margin: 0 auto;
    padding: 0px;
  }
  
  h2 {
    text-align: center;
    margin-top: 0;
    color: #2980b9;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: whitesmoke;
  }
  
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: #2980b9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    top: 73%;
    left: 40%;

  }
  
  input[type="submit"]:hover {
    background-color: #3498db;
  }
  
  p {
    margin-top: 20px;
    color: whitesmoke;
  }
  
  a {
    color: #337ab7;
    text-decoration: none;
  }
  
  a:hover {
    color: #65a7e1;
    text-decoration: underline;
    
  }
  